* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:focus {
  outline: none;
}
a:visited {
  color: currentColor;
}

ul {
  list-style: none;
}

.container, .carousel img.carousel__img {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1300px) {
  .container, .carousel img.carousel__img {
    width: 900px;
  }
}
@media screen and (max-width: 1024px) {
  .container, .carousel img.carousel__img {
    width: 85%;
  }
}

* {
  font-family: "Open Sans", sans-serif;
}

header {
  text-align: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  header {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 10;
  }
}
@media screen and (max-width: 480px) {
  header *:not(ul):not(ul *):not(nav) {
    position: relative;
    z-index: 11;
  }
}
header img.logo {
  width: 200px;
}
header ul {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}
header ul a {
  padding: 15px 8px;
  font-size: 26px;
  color: #000;
  display: block;
}
header ul a.active {
  background-color: #b2e5fc;
}
@media screen and (max-width: 480px) {
  header ul {
    opacity: 0;
    display: block;
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    transition: all 0.8s;
    margin-top: 0;
    z-index: 9;
  }
  header ul.clicked {
    opacity: 0.9;
    pointer-events: initial;
    bottom: -204px;
  }
  header ul a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: hue;
    background-color: #FFFFFF;
    border: 1px solid #000;
  }
  header ul a.active {
    background-image: url("../images/fondo-pag-speciali.jpg");
    background-blend-mode: hue;
    background-color: #b2e5fc;
  }
}
header .fa-bars {
  color: #002d73;
  font-size: 40px;
  margin-top: 20px;
  display: none;
}
@media screen and (max-width: 480px) {
  header .fa-bars {
    display: block;
  }
}

.home__main {
  background-image: url("../images/fondo-pag-speciali.jpg");
  padding-top: 80px;
}
.home__main h2 {
  text-transform: uppercase;
  color: #002d73;
  width: 100%;
  text-align: left;
  font-size: 30px;
  margin: 30px 0;
}
.home__main .products_template {
  display: flex;
  flex-wrap: wrap;
}
.home__main .products_template li {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
@media screen and (max-width: 1024px) {
  .home__main .products_template li {
    width: calc(100% / 2 - 10px);
  }
}
@media screen and (max-width: 480px) {
  .home__main .products_template li {
    width: 100%;
    margin: 5px;
  }
}
.home__main .products_template img {
  width: 100%;
}

.prodotti__main {
  padding: 50px 0;
  background-color: #B8DAE4;
}
.prodotti__main h1, .prodotti__main p {
  color: #002d73;
}
.prodotti__main h1 {
  text-align: center;
}
.prodotti__main img {
  width: 100%;
}
.prodotti__main .carousel {
  text-align: center;
  position: relative;
}
.prodotti__main .carousel .fas {
  position: absolute;
  font-size: 80px;
  color: #FFFFFF;
  top: 50%;
  transform: translateY(-55%);
  padding: 20px 0;
  background-color: #DCEDF2;
  border-radius: 6px;
}
.prodotti__main .carousel .fa-angle-right {
  right: 0;
  padding-left: 10px;
}
.prodotti__main .carousel .fa-angle-left {
  left: 0;
  padding-right: 15px;
}
.prodotti__main p {
  font-size: 20px;
}

.news__main {
  padding: 50px 0;
}
.news__main h1 {
  text-align: center;
}
.news__main h2, .news__main p {
  color: #002d73;
}
.news__main ul {
  margin-top: 30px;
  background-color: #B8DAE4;
  padding: 30px;
  background-image: url("../images/marchio-sito-test.png");
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: soft-light;
}
.news__main li:not(:last-child) {
  margin-bottom: 20px;
}

footer {
  padding-top: 30px;
  color: #8A92A0;
}
footer::after {
  background-image: url("../images/footer-montagne-bottom.jpg");
  background-size: cover;
  background-position: center;
  content: "";
  display: block;
  width: 100%;
  height: 150px;
}
footer .container {
  max-height: 610px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .container .footer__wrapper {
  margin-top: 20px;
  width: calc( 100% / 3 );
}
footer .container .footer__wrapper h3 {
  font-size: 25px;
  text-transform: uppercase;
}
footer .container .footer__wrapper ul {
  margin-top: 20px;
}
footer .container .footer__wrapper ul .footer__link:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  footer .container .footer__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  footer .container {
    flex-direction: row;
    max-height: none;
  }
}
