//Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
    &:focus {
        outline: none;
    }
    &:visited {
        color: currentColor;
    }
}

ul {
    list-style: none;
}

//MIXIN
@mixin media-lg {
    @media screen and (max-width: $lg_size) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width: $md_size) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (max-width: $sm_size) {
        @content;
    }
}

// Common classes

.container {
    width: 1200px;
    margin: auto;
    
    //Container media queries
    @include media-lg {
        width: 900px;
    }

    @include media-md {
        width: 85%;
    }
}